In [1]:
import pandas as pd
import numpy as np

In [ ]:
# concat qual_data_2019 and qualifying_before_2019
qual_data_2019 = pd.read_csv('D:/Fall24/DSP391m/New folder/Formula_1/data collection/qual_data_2019.csv')
qualifying_before_2019 = pd.read_csv('D:/Fall24/DSP391m/New folder/Formula_1/data collection/qualifying_before_2019.csv')
qual_data = pd.concat([qualifying_before_2019,qual_data_2019], ignore_index=True)

qual_data.to_csv('D:/Fall24/DSP391m/New folder/Formula_1/data collection/qualifying.csv', index=False)

In [73]:
races = pd.read_csv(r'D:/Fall24/DSP391m/New folder/Formula_1/data collection/races.csv')
results = pd.read_csv(r'D:/Fall24/DSP391m/New folder/Formula_1/data collection/results.csv')
qualifying = pd.read_csv(r'D:/Fall24/DSP391m/New folder/Formula_1/data collection/qualifying.csv')
driver_standings = pd.read_csv(r'D:/Fall24/DSP391m/New folder/Formula_1/data collection/driver_standings.csv')
constructor_standings = pd.read_csv(r'D:/Fall24/DSP391m/New folder/Formula_1/data collection/constructor_standings.csv')
weather = pd.read_csv(r"D:\Fall24\DSP391m\New folder\Formula_1\data collection\weather.csv")

In [76]:
print(weather.shape)
weather.tail()

(1101, 9)

,season,round,circuit_id,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
1096,2023,18,americas,Sunny,1,0,0,0,0
1097,2023,19,rodriguez,Sunny,1,0,0,0,0
1098,2023,20,interlagos,Partly cloudy,0,0,0,0,1
1099,2023,21,vegas,Clear,1,0,0,0,0
1100,2023,22,yas_marina,Clear,1,0,0,0,0

In [77]:
print(results.shape)
results.tail()

(25827, 13)

,season,round,circuit_id,driver,date_of_birth,nationality,constructor,grid,time,status,points,podium,url
25822,2023,22,yas_marina,sargeant,2000-12-31,American,williams,20,5310415.0,Finished,0.0,16,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...
25823,2023,22,yas_marina,zhou,1999-05-30,Chinese,alfa,19,5312046.0,Finished,0.0,17,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...
25824,2023,22,yas_marina,sainz,1994-09-01,Spanish,ferrari,16,NaN,Retired,0.0,18,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...
25825,2023,22,yas_marina,bottas,1989-08-28,Finnish,alfa,18,NaN,+1 Lap,0.0,19,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...
25826,2023,22,yas_marina,kevin_magnussen,1992-10-05,Danish,haas,17,NaN,+1 Lap,0.0,20,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...

In [78]:
print(qualifying.shape)
qualifying.rename(columns = {'grid_position': 'grid'}, inplace = True)
qualifying.tail()

(16639, 6)

,grid,driver_name,car,qualifying_time,season,round
16634,16,Carlos Sainz SAI,Ferrari,01:24.738000,2023,22
16635,17,Kevin Magnussen MAG,Haas Ferrari,01:24.764000,2023,22
16636,18,Valtteri Bottas BOT,Alfa Romeo Racing Ferrari,01:24.788000,2023,22
16637,19,Guanyu Zhou ZHO,Alfa Romeo Racing Ferrari,01:25.159000,2023,22
16638,20,Logan Sargeant SAR,Williams Mercedes,NaT,2023,22

In [79]:
driver_standings.columns

Index(['season', 'round', 'driver', 'driver_points_after_race',
       'driver_wins_after_race', 'driver_standings_pos_after_race',
       'driver_points', 'driver_wins', 'driver_standings_pos'],
      dtype='object')

In [80]:
driver_standings.drop(['driver_points_after_race', 'driver_wins_after_race', 'driver_standings_pos_after_race'] ,axis = 1, inplace = True)

print(driver_standings.shape)
driver_standings.head()

(28042, 6)

,season,round,driver,driver_points,driver_wins,driver_standings_pos
0,1950,1,farina,0.0,0.0,0.0
1,1950,1,fagioli,0.0,0.0,0.0
2,1950,1,reg_parnell,0.0,0.0,0.0
3,1950,1,cabantous,0.0,0.0,0.0
4,1950,1,rosier,0.0,0.0,0.0

In [81]:
constructor_standings.drop(['constructor_points_after_race', 'constructor_wins_after_race','constructor_standings_pos_after_race' ],axis = 1, inplace = True)

print(constructor_standings.shape)
constructor_standings.head()

(13151, 6)

,season,round,constructor,constructor_points,constructor_wins,constructor_standings_pos
0,1958,1,cooper,0.0,0.0,0.0
1,1958,1,ferrari,0.0,0.0,0.0
2,1958,1,maserati,0.0,0.0,0.0
3,1958,2,cooper,8.0,1.0,1.0
4,1958,2,ferrari,6.0,0.0,2.0

In [ ]:
merged_df1 = pd.merge(races, weather, how='inner', on=['season', 'round', 'circuit_id'])

print(merged_df1.columns)

df1 = merged_df1.drop(['lat', 'long', 'country', 'weather'], axis=1, errors='ignore')

Index(['season', 'round', 'circuit_id', 'lat_x', 'long_x', 'country_x',
       'date_x', 'url_x', 'lat_y', 'long_y', 'country_y', 'date_y', 'url_y'],
      dtype='object')

In [83]:
df1 = pd.merge(races, weather, how='inner', on=['season', 'round', 'circuit_id']).drop(['lat', 'long','country','weather'], axis = 1)
df2 = pd.merge(df1, results, how='inner', on=['season', 'round', 'circuit_id', 'url']).drop(['url','points', 'status', 'time'], axis = 1)

df3 = pd.merge(df2, driver_standings, how='left', on=['season', 'round', 'driver']) 
df4 = pd.merge(df3, constructor_standings, how='left', on=['season', 'round', 'constructor']) #from 1958

final_df = pd.merge(df4, qualifying, how='inner', on=['season', 'round', 'grid']).drop(['driver_name', 'car'], axis = 1) #from 1983

In [84]:
final_df.tail()

,season,round,circuit_id,date,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,...,constructor,grid,podium,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time
16553,2023,22,yas_marina,2023-11-26,1,0,0,0,0,sargeant,...,williams,20,16,1.0,0.0,21.0,28.0,0.0,7.0,NaT
16554,2023,22,yas_marina,2023-11-26,1,0,0,0,0,zhou,...,alfa,19,17,6.0,0.0,18.0,16.0,0.0,9.0,01:25.159000
16555,2023,22,yas_marina,2023-11-26,1,0,0,0,0,sainz,...,ferrari,16,18,200.0,1.0,4.0,388.0,1.0,3.0,01:24.738000
16556,2023,22,yas_marina,2023-11-26,1,0,0,0,0,bottas,...,alfa,18,19,10.0,0.0,15.0,16.0,0.0,9.0,01:24.788000
16557,2023,22,yas_marina,2023-11-26,1,0,0,0,0,kevin_magnussen,...,haas,17,20,3.0,0.0,19.0,12.0,0.0,10.0,01:24.764000

In [85]:
# calculate age of drivers

from dateutil.relativedelta import *

final_df['date'] = pd.to_datetime(final_df.date)
final_df['date_of_birth'] = pd.to_datetime(final_df.date_of_birth)
final_df['driver_age'] = final_df.apply(lambda x: relativedelta(x['date'], x['date_of_birth']).years, axis=1)
final_df.drop(['date', 'date_of_birth'], axis = 1, inplace = True)

In [ ]:
final_df.isnull().sum()

season                         0
round                          0
circuit_id                     0
weather_warm                   0
weather_cold                   0
weather_dry                    0
weather_wet                    0
weather_cloudy                 0
driver                         0
nationality                    0
constructor                    0
grid                           0
podium                         0
driver_points                551
driver_wins                  551
driver_standings_pos         551
constructor_points           156
constructor_wins             156
constructor_standings_pos    156
qualifying_time              260
driver_age                     0
dtype: int64

In [ ]:
for col in ['driver_points', 'driver_wins', 'driver_standings_pos', 'constructor_points', 
            'constructor_wins' , 'constructor_standings_pos']:
    final_df[col].fillna(0, inplace=True)
    final_df[col] = final_df[col].map(lambda x: int(x))
    
final_df.dropna(inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_11100\1028548121.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df[col].fillna(0, inplace=True)

In [88]:
final_df

,season,round,circuit_id,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,nationality,...,grid,podium,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time,driver_age
0,1983,1,jacarepagua,0,0,1,0,0,piquet,Brazilian,...,4,1,0,0,0,0,0,0,1:35.114,30
1,1983,1,jacarepagua,0,0,1,0,0,lauda,Austrian,...,9,2,0,0,0,0,0,0,1:36.054,34
2,1983,1,jacarepagua,0,0,1,0,0,laffite,French,...,18,3,0,0,0,0,0,0,1:38.234,39
3,1983,1,jacarepagua,0,0,1,0,0,tambay,French,...,3,4,0,0,0,0,0,0,1:34.758,33
4,1983,1,jacarepagua,0,0,1,0,0,surer,Swiss,...,20,5,0,0,0,0,0,0,1:38.468,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16553,2023,22,yas_marina,1,0,0,0,0,sargeant,American,...,20,16,1,0,21,28,0,7,NaT,22
16554,2023,22,yas_marina,1,0,0,0,0,zhou,Chinese,...,19,17,6,0,18,16,0,9,01:25.159000,24
16555,2023,22,yas_marina,1,0,0,0,0,sainz,Spanish,...,16,18,200,1,4,388,1,3,01:24.738000,29
16556,2023,22,yas_marina,1,0,0,0,0,bottas,Finnish,...,18,19,10,0,15,16,0,9,01:24.788000,34
16557,2023,22,yas_marina,1,0,0,0,0,kevin_magnussen,Danish,...,17,20,3,0,19,12,0,10,01:24.764000,31

In [ ]:
for col in ['weather_warm', 'weather_cold','weather_dry', 'weather_wet', 'weather_cloudy']:
    final_df[col] = final_df[col].map(lambda x: bool(x))

In [91]:
print(final_df['qualifying_time'].dtype)

object

In [ ]:
final_df['qualifying_time'] = final_df.qualifying_time.map(lambda x: 0 if str(x) == '00.000' 
                             else(float(str(x).split(':')[1]) + (60 * float(str(x).split(':')[0])) if len(str(x).split(':')) == 2 else 0))
final_df = final_df[final_df['qualifying_time'] != 0]
final_df.sort_values(['season', 'round', 'grid'], inplace = True)
final_df['qualifying_time_diff'] = final_df.groupby(['season', 'round']).qualifying_time.diff()
final_df['qualifying_time'] = final_df.groupby(['season', 'round']).qualifying_time_diff.cumsum().fillna(0)
final_df.drop('qualifying_time_diff', axis = 1, inplace = True)

C:\Users\PC\AppData\Local\Temp\ipykernel_11100\95524096.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.sort_values(['season', 'round', 'grid'], inplace = True)
C:\Users\PC\AppData\Local\Temp\ipykernel_11100\95524096.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['qualifying_time_diff'] = final_df.groupby(['season', 'round']).qualifying_time.diff()
C:\Users\PC\AppData\Local\Temp\ipykernel_11100\95524096.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['qualifying_time'] = final_df.groupby(['season', 'round']).qualifying_time_diff.cumsum().fillna(0)
C:\Users\PC\AppData\Local\Temp\ipykernel_11100\95524096.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('qualifying_time_diff', axis = 1, inplace = True)

In [ ]:
df_dum = pd.get_dummies(final_df, columns = ['circuit_id', 'nationality', 'constructor'] )

for col in df_dum.columns:
    if 'nationality' in col and df_dum[col].sum() < 140:
        df_dum.drop(col, axis = 1, inplace = True)
        
    elif 'constructor' in col and df_dum[col].sum() < 140:
        df_dum.drop(col, axis = 1, inplace = True)
        
    elif 'circuit_id' in col and df_dum[col].sum() < 70:
        df_dum.drop(col, axis = 1, inplace = True)
    
    else:
        pass

In [94]:
df_dum.shape

(16279, 103)

In [95]:
df_dum.to_csv('final_df.csv', index = False)